body {
    font-family: $bodyFont;
}

/* ------- Header -------*/
div.headerwrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: .5rem 0;
}

div.logowrap {
    width: 70%;
}

.logowrap {
        font-size: 1.7rem;
        font-family: $headingFont;
        vertical-align: top;
    p {
        padding: 0;
        margin: 0;
    }
    picture {
        max-height: 61.5px;
        float: left;
        margin-right: 0.5rem;
        img {
            max-height: 61.5px;
        }
    }
    a {
        text-decoration: none;
        color: $bodyColor;
    }
}

/* ------- Navigation -------*/
div.buttonwrap {
    width: 30%;
}

div.headerwrap button {
    background: none;
    border: none;
    color: $bodyColor;
    font-size: 44px;
    font-weight: bold;
    width: 100%;
    text-align: right;
    padding: 3%;
}

nav ul {
    list-style-type: none;
    font-family: $navFont;
    padding: 0;
    margin:0;

    li {
        background-color: $bodyColor;
        a {
            display: block;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            color: $navColor;
            padding: 1rem;
        } // end a
        a.active {
            background-color: $accentColor;
            color: $bodyColor;
            font-weight: bold;
        }
    } //end li
} // end nav ul


/* ------- Navigation Toggle -------*/
nav ul.hide {
    display: none;
}

/* ------- Hero Image -------*/
main div.heroimg img {
    max-width: 100%;
}

main div.parallaximg1 {
    /* The image used */
    background-image: url("/salmon_river/images/image1.jpg");
  
    /* Set a specific height */
    height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main div.parallaximg2 {
    /* The image used */
    background-image: url("/salmon_river/images/image2.jpg");
  
    /* Set a specific height */
    height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* ------- Main -------*/
main {
    margin-bottom: 40px;
    h2 {
    text-align: center;
    font-family: $headingFont;
    }
}

main p {
    margin: $mainMargin;
}

main figure {
    text-align: center;
    figcaption {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

main a.button1 {
    display: block;
    padding: 15px;
    width: 50%;
    margin: .5rem auto;
    text-decoration: none;
    text-align: center;
    background-color: $bodyColor;
    color: $navColor;
    font-weight: bold;
}

main a.button2 {
    display: block;
    padding: 15px;
    width: 50%;
    margin: .5rem auto;
    text-decoration: none;
    text-align: center;
    background-color: $accentColor;
    color: $bodyColor;
    font-weight: bold;
}

/* ------- Weather ------- */
.weatherSummary {
    text-align: center;
    span {
        font-weight: bold;
    }
}

/* ------- Table ------- */
table {
    text-align: center;
    margin: 1rem auto;
    thead {
        background-color: $accentColor;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $bodyColor;
    }
}

table, th, td {
    border: 1px solid #d3d0cb;
    border-collapse: collapse;
    max-width: 100%;

}

th, td {
    padding: 0.5rem;
}


/* ------- Contact Form ------- */
iframe {
    max-width: 100%;
}

.contactWrap {
    padding: 0 1rem;
}

form {
    margin: .5rem;
    padding: 20px 0px;
    legend {
        font-family: $headingFont;
        font-size: 1.3rem;
        padding: 0px 5px;
    }
    label {
        margin-top: 10px;
    }
    input, select {
        display: block;
        height: 44px;
        width: 100%;
    }
    textarea {
        display: block;
        width: 100%;
    }
    .submitBtn {
        display: block;
        padding: 15px;
        width: 50%;
        margin: .5rem 0;
        text-decoration: none;
        text-align: center;
        background-color: $accentColor;
        color: $bodyColor;
        font-weight: bold;
        border: none;
        width: 100%;
    }

}

// Guides Cards
main div.guidesDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7px;
    text-align: center;
    margin: .5rem;
}
main div.guidesDiv section {
    background-color: $navColor;
  
    
}

main div.guidesDiv section img {
    max-width: 100%;
}



// Flip Cards
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    margin: 5px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: $bodyColor;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: white;
    color: black;
    border: #f2f2f2 solid 2px;
    transform: rotateY(180deg);
    
    
  }
  
  p.flip-card-text {
    padding: 25px;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  }
// card image
.card_image {
    width:300px;
    height:300px;
}
  
  /* text on top of image */
  .centered {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    background-color: $accentColor;
    margin:0;
    padding: 1rem 0;
  }

  
  .content_cards {
          display: flex;
          flex-flow: wrap;
          
          justify-content: center;
          align-content: center;
          margin-top: 20px;
          margin-bottom: 40px;
          
      }
    

      p.center {
          text-align: center;
          margin: 1rem;
      }

/* ------- Footer ------- */
footer {
    padding: 3%;
    background-color: $bodyColor;
    color: $navColor;
    h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    a {
        color: $accentColor;
        text-decoration: none;
    }

    .footerLinks {
        text-align: center;
    }
    .footerLinks a {
        display: block;
 
    }

    .footerLogo {
        text-align: center;
        padding: 1rem;
        img {
        max-height: 100px;
        }
    }
    
    .credits {
        text-align: center;
    }

    .socialIcons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin-top: 20px;
    }

    .socialIconPlaceholder {
        width: 50px;
        height: 50px;
        background-color: $accentColor;
        border-radius: 50%;
        margin: 5px;
    }

    .contactIcon {
        width: 1rem;
        padding-right: .3rem;
    }

    .addressPadding {
        padding-left: 1.3rem;
    }
}

/* ------- Clearfix ------- */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }