body {
    font-family: $bodyFont;
}

/* ------- Header -------*/
div.headerwrap {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.logowrap {
    width: 50%;

}


/* ------- Navigation -------*/
div.buttonwrap {
    width: 50%;
}

div.headerwrap button {
    background: none;
    border: none;
    color: $bodyColor;
    font-size: 44px;
    font-weight: bold;
    width: 100%;
    text-align: right;
    padding: 3%;
}

nav ul {
    list-style-type: none;
    font-family: $navFont;
    padding: 0;
    margin:0;

    li {
        background-color: $bodyColor;
        a {
            display: block;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            color: $navColor;
            padding: 1rem;
        } // end a
        a.active {
            background-color: $accentColor;
            color: $bodyColor;
            font-weight: bold;
        }
    } //end li
} // end nav ul


/* ------- Navigation Toggle -------*/
nav ul.hide {
    display: none;
}

/* ------- Hero Image -------*/
main div.heroimg img {
    max-width: 100%;
}

main div.parallaximg1 {
    /* The image used */
    background-image: url("/salmon_river/images/image1.jpg");
  
    /* Set a specific height */
    height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main div.parallaximg2 {
    /* The image used */
    background-image: url("/salmon_river/images/image2.jpg");
  
    /* Set a specific height */
    height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* ------- Main -------*/
main h2 {
    text-align: center;
    font-family: $headingFont;
}

main p {
    margin: $mainMargin;
}

main figure {
    text-align: center;
}

main a.button1 {
    display: block;
    padding: 15px;
    width: 50%;
    margin: .5rem auto;
    text-decoration: none;
    text-align: center;
    background-color: $bodyColor;
    color: $navColor;
    font-weight: bold;
}

main a.button2 {
    display: block;
    padding: 15px;
    width: 50%;
    margin: .5rem auto;
    text-decoration: none;
    text-align: center;
    background-color: $accentColor;
    color: $bodyColor;
    font-weight: bold;
}

/* ------- Clearfix ------- */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }