
// Colors
$bodyColor: #393e41;
$navColor: #e7e5df;
$accentColor: #e7bb41;

// Fonts
$navFont: 'Roboto:500', sans-serif;
$headingFont: 'Merriweather', serif;
$bodyFont: 'Source Sans Pro';

// Margins
$mainMargin: 1rem 5%;