/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

h1, h2 {  
    font-family: 'Playfair Display', serif;
}


.announcement {
   
    background-color: #010326;
    padding: 1rem;
    color: #E6E6F0;
    text-align: center;
    border-bottom: #F22987 solid 3px;
}

.announcement p {
    padding: 0;
    margin: 0.5rem;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
}

#headerwrap {
    background-color: white;
}

header img {float: left; margin-left: 0px; margin-right: 10px; width: 50px;}

header h1 {margin: 0; font-size: 1.3rem; color: #010326;

    font-family: 'Playfair Display', serif;

}
header h2 {margin: 0; font-weight: normal; font-size: 1rem; color: #010326;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #E6E6F0;
    color: #010326;    
}

#navwrap {
    background-color: #E6E6F0;
}

nav button {
    background-color: transparent;
    color: #010326;
    border: none;
    margin: .2rem 2%;
    padding-left: 2%;
    font-size: 44px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.hide {
    display: none;
}


nav ul li a {
    display: block;
    color: #010326;
    padding: .8rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul li.active a {
    background-color: #010326;
    color: #E6E6F0;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #F22987;
    color: #E6E6F0;
}

/*----------- Hero Image --------------*/


.herodiv {
    position: relative;
    width: 100%;
}

#heroImage img{
    width: 100%;
    margin: 0 auto;
}

.weatherSummary {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgba(1, 3, 38, .75);
    color: #E6E6F0;
    padding: 1rem;
    border-radius: 5%;
    box-shadow: 5px 5px 20px rgb(0, 0, 0)
}

.weatherSummary h2 {
   font-size: 1.2rem;
   padding-top: 0;
   margin-top: 0;
}

.weatherSummary p {
    margin: 0;
    padding: 0;
}

.weatherSummary p span {
    font-weight: bold;
    color: #F22987;
}

picture.photoA {
    display: block;
    width: 100%;
}

main picture.photoA img {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    line-height: 1.4em;
    margin: 2%;
}

main a {
    color: #F22987;
}

main a:hover {
    color: #E6E6F0;
}

main a:visited {
    color: #010326;
}

.showLogo {
    width: 150px;
    display:block;
    margin-left: auto;  
    margin-right: auto;  
}

.center {
    display: block;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.textcenter {
    text-align: center;
}

.placeholder {
    background-color: #E6E6F0;
    color: #010326;
    padding: 1rem;
    display: block;
    margin-bottom: 1%;
    

}

.mainPageArticle {
    color: #010326;
    padding: 1rem;
    display: block;
    margin-bottom: 1%;
}

.clearfix2 {
    overflow: auto;
  }
/*----------- Cards -----------------*/
main div.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7px;
    text-align: center;
}
main div.cards section {
    background-color: #E6E6F0;
  
    
}

main div.cards section img {
    max-width: 100%;
}



/*----------- Forecast --------------*/

main .forecast{
    display: none;
}


main .forecast .weekdays{
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    max-width: 50em;

}

main .forecast .weekdays .day{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.forecast .weekdays .day .weekday{
    margin-top: 1rem;
}

.forecast .weekdays .day .weather{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekdays .day .weather img{
    width: 50%;
}

.weekdays .day .weather p{
    font-size: .8em;
}


/*----------- Article --------------*/

main article img {
    width: 100%;
}

/*----------- Gallery --------------*/
main div.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 40px;
}

main div.gallery figure img {
    width: 100%;
    margin: 0;
    padding: 0;
    
}

main div.gallery figure {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: #010326;
    font-weight: bold;
    text-align: center;
    
}



figure img[data-src] {
    filter: blur(0.2em);
  }
  
  figure img {
    filter: blur(0em);
    transition: filter 0.8s;
  }

/*----------- FORM --------------*/ 
form fieldset {
    margin: 2rem 0;
   /* border: 1px solid #010326;*/
   border: none;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #010326;
    /*margin: 0 1rem;*/
    padding: O .5rem; 
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #010326;
    font-size: .8rem;
}

form label.stormRating {
    display: block;
    padding-top: 1rem;
    color: #010326;
    font-size: .8rem;
}

form label.stormRating input {
    display:block;
}

form label.stormRating span {
    padding-left: 5px;
}




form label.top input, form label.top select, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: #E6E6F0;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    
}



form input.submitBtn {
    border: none;
    background-color: #010326;
    color: #E6E6F0;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: #F22987 solid 6px;
    
}
 
form label.top input:required:valid {
    border-left: #010326 solid 6px;
}


    
    
    

/*----------- Contact --------------*/
main .contact {
    padding-bottom: 20px;
}

main .contact p{
    margin: 0;
    padding: 0px 0px 20px 0px;
    font-style: normal;
}

main .contact h3 {
    margin: 0;
    padding: 0;
    font-style: normal;
}

.map {
    display: none;
}

.socialicons {
    display: flex;
    flex-wrap: wrap;
}

.socialicons img {
    max-width: 40px;
    padding: 5px;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #E6E6F0;
    color: #010326;
    padding: .5rem 2%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5%;
}

#footerwrap {
    background-color: #E6E6F0;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}