div.pictures {
    display: flex;
    flex-direction: column;
}

body {
    text-align: center;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
  picture img {
    filter: blur(0em);
    transition: filter 0.8s;
  }