/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

h1, h2 {
    font-family: 'Alata', sans-serif;
}



/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
}

header img {float: left; margin-left: 0px; margin-right: 10px; width: 50px;}

header h1 {margin: 0; font-size: 1.3rem; color: #010326; font-family: 'Alata', sans-serif;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem; color: #010326;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #E6E6F0;
    color: #010326;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #010326;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #F22987;
    color: #E6E6F0;
}
nav ul li.active a {
    background-color: #010326;
    color: #E6E6F0;
    font-weight: bold;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    line-height: 1.4em;
    margin: 2%;
}

main a {
    color: #F22987;
}

main a:hover {
    color: #E6E6F0;
}

main a:visited {
    color: #010326;
}

.showLogo {
    width: 150px;
    display:block;
    margin-left: auto;  
    margin-right: auto;  
}

.center {
    display: block;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.textcenter {
    text-align: center;
}

.grey {
    background-color: #E6E6E6;
    padding-left: 2px;
    padding-right: 2px;
    
}

.blue {
    background-color: #010326;
    color: #E6E6E6;
    padding-left: 2px;
    padding-right: 2px;
    
}

.pink {
    background-color: #f22987;
    padding-left: 2px;
    padding-right: 2px;
    
}

.persona img {
    max-width: 100%;
    border-radius: 50%;

}




/*----------- FOOTER --------------*/
footer {
    background-color: #E6E6F0;
    color: #010326;
    padding: .5rem 2%;
    text-align: center;
    margin-bottom: 20px;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}